@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="grid">
    <header></header>
    <div id="pics"></div>
    <div id="weather" style="display: @Model.display">
        <p>Weather</p>
        <form method="post" asp-page-handler="Weather">
            <select required class="drop" name="Country" @Model.selCountry>
                <option value="">Select A Country</option>
                <option value="CA">Canada</option>
            </select>

            <select required class="drop" name="City" @Model.selCity>
                <option value="">Select A City</option>
                <option value="toronto">Toronto</option>
                <option value="ottawa">Ottawa</option>
                <option value="montreal">Montreal</option>
                <option value="gatineau">Gatineau</option>
                <option value="quebec">Quebec City</option>
                <option value="london">London</option>
                <option value="sarnia">Sarnia</option>
                <option value="windsor">Windsor</option>
                <option value="kitchener">Kitchener</option>
                <option value="kingston">Kingston</option>
                <option value="oshawa">Oshawa</option>
                <option value="hamilton">Hamilton</option>
                <option value="guelph">Guelph</option>
            </select>

            <select required class="drop" name="Unit" @Model.selUnit>
                <option value="">Select A Unit of Measurement</option>
                <option value="metric">Metric</option>
                <option value="imperial">Imperial</option>
                <option value="kelvin">Kelvin</option>
            </select>

            <input type="submit" value="Get the Weather" />
        </form>
        <div id="weatherGrid">
            <img src="@Url.Content(Model.iconShow)" alt="Weather Icon" />
            <p id="day">@Model.today</p>
            <p id="cld">Clouds: @Model.all%</p>
            <p id="loc">City: @Model.selCity, @Model.selCountry</p>
            <p id="des">Weather Description: @Model.desc</p>
            <p id="ris">Sunrise: @Model.riseTime</p>
            <p id="set">Sunset: @Model.setTime</p>
            <p id="tmp">Currently: @Model.temp</p>
            <p id="hot">High: @Model.tempHigh</p>
            <p id="low">Low: @Model.tempLow</p>
            <p id="hmd">Humidity: @Model.humidity%</p>
            <p id="prs">Pressure: @Model.pressure hPa</p>
            <p id="vis">Visibility: @Model.visibility</p>
            <p id="wnd">Wind:</p>
            <p id="spd">Speed: @Model.windSpeed</p>
            <p id="dir">Direction: @Model.windText</p>
            <!--<p id="prc">Precipitation</p>
            <p id="ran">Rain: @Model.rain3h mm</p>
            <p id="snw">Snow: @Model.snow3h mm</p>-->
        </div>
    </div>
    <div id="calendar">
        Calendar
    </div>
    <div id="news">
        <div id="newsGrid">
            News
            <p id="headline">@Model.headline</p>
            <p id="channel">@Model.channel</p>
            <p id="credit">@Model.credit</p>
            <p id="published">@Model.published</p>
        </div>
    </div>
    <div id="todo">
        To-Do
    </div>
</div>
